
<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <input type="text" class="form-control" placeholder="Búsqueda de usuario" (keyup)="buscar(txtBusqueda.value)" #txtBusqueda/>
              
            </div>
          </div>
      </div>
  </div>

  <div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando...</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Espere un momento por favor, cargando datos...</p>
        </div>

      </div>
  </div>

  <div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
    <div class="card-body">
        <h4 class="card-title">Administración de Usuarios. Total de usuarios: {{usuariosTotales}}</h4>
        <h6 class="card-subtitle">Usuarios registrados en la aplicación</h6>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="w100">Imagen</th>
                        <th>Correo</th>
                        <th>Nombre</th>
                        <th class="text-nowrap">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios">
                        <td class="text-center">
                            <img [src]="usuario.imagenUrl" alt="Imagen del usuario" class="avatar">    
                        </td>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.nombre}}</td>              
                      
                        <td class="text-nowrap  text-center">
                            <a data-toggle="tooltip" data-original-title="Eliminar"  (click)="eliminacionUsuario(usuario)" class="cursor"> <i class="fa fa-close text-danger"></i> </a>
                        </td>
                    </tr>
                   
                </tbody>
            </table>
            
        <div *ngIf="txtBusqueda.value.length === 0">

        <button (click)="cambiopagina(-5)" class="btn btn-secondary">Anterior</button>
        &nbsp;
        <button (click)="cambiopagina(5)" class="btn btn-secondary">Siguiente</button>
        </div>

                </div>
              </div>
         </div>
      </div>
  </div>