<div class="col-md-12">
    <div class="card card-outline-info">
        <div class="card-header" style="background-color: skyblue;">
            <h4 class="m-b-0 text-white">Parroquia Nuestra Señora de la Salud</h4></div>
        <div class="card-body">
            <h3 class="card-title">Términos y condiciones</h3>

                <h4 class="card-text">1. Aceptación de los Términos:</h4>
            <p class="card-text">Bienvenido(a) a nuestra aplicación de administración y gestión. Antes de utilizarla,
                 te pedimos que leas detenidamente los siguientes Términos y Condiciones que rigen el uso de nuestros servicios. 
                Al acceder o utilizar nuestra aplicación, estás aceptando cumplir con estos términos, 
                por lo que es importante que los revises con atención.</p>

                <h4 class="card-text">2. Uso de la Aplicación:</h4>
            <p class="card-text">Al utilizar nuestra aplicación, estás indicando que has leído, comprendido y
                 aceptado estos Términos y Condiciones en su totalidad. Si no estás de acuerdo con alguno de los términos,
                  te solicitamos que no utilices nuestra plataforma.</p>

                  <h4 class="card-text">3. Uso de la Aplicación:</h4>
            <p class="card-text">Nuestra aplicación está diseñada para ofrecer soluciones de administración y gestión de la parroquia.
                Podrás acceder a diversas funcionalidades, herramientas y recursos que te ayudarán a mejorar la eficiencia de los datos.</p>

                <h4 class="card-text">4. Cuentas de Usuario:</h4>
            <p class="card-text">Para acceder a nuestra aplicación, deberás crear una cuenta de usuario proporcionando información precisa y veraz.
                 Eres responsable de mantener la confidencialidad de tus credenciales de acceso y cualquier actividad que se realice bajo tu cuenta.</p>

                 <h4 class="card-text">5. Privacidad y Protección de Datos:</h4>
            <p class="card-text">No está permitida la reproducción, distribución o modificación del contenido sin autorización
                  previa por escrito. Al utilizar nuestra aplicación, aceptas nuestras prácticas de privacidad.</p>
                 
                <h4 class="card-text">6. Responsabilidad del Usuario:</h4>
            <p class="card-text">Eres responsable del uso que hagas de nuestra aplicación. No debes utilizarla con fines ilegales, ofensivos
                 o que violen los derechos de terceros. Además, te comprometes a no interferir con la seguridad
                  o el funcionamiento adecuado de la plataforma.</p>
                  
            <p class="card-text">Al utilizar nuestra aplicación, reconoces que has leído y comprendido estos Términos y Condiciones,
                 y que estás de acuerdo en cumplir con todas las disposiciones mencionadas.  Gracias por confiar en nuestra aplicación.</p>

            <a href="#" class="btn btn-inverse" routerLink="/registro">Volver al Registro</a>
        </div>
    </div>
</div>