<div class="row">
    <div class="col-11">
        <div class="card">
            <div class="card-body">
                <link rel="stylesheet" href="../dashboard/dashboard.component.css">

                  <br><h1 style="margin: 0 auto; text-align: center;" class="horarios col-5">Contacto</h1><br>
              
                  
                <table class="row-10" style="margin: 0 auto;">
                    <tr>  
                    <td>
                        <div class="programa">
                            <div class="imagen">
                                <img src="../../../assets/images/parroquia.png" alt="">
                            </div>
                           
                            <tr>
                                <td>
                                    <div class="pie">
                                <strong><p>Dirección</p></strong>
                                        <p>Cra. 40 #91-36 </p>
                                    </div>
                                </td>
    
                                <td>
                                    <div class="pie">
                                   <strong><p>Teléfono</p></strong>
                                        <p>301 349 3493</p>
                                    </div>
                                </td>
    
                                <td>
                                    <div class="pie">
                                 <strong><p>WhatsAapp</p></strong>
                                        <p>301 349 3493</p>
                                    </div>
                                </td>
                            </tr>


                            
    
                            <tr>
                                <td>
                                    <div class="pie">
                                 <strong><p>Correo Electrónico</p></strong>
                                        <p>7:00 p.m.</p>
                                    </div>
                                </td>
    
                                <td>
                                    <div class="pie">
                                <strong><p>Dirección del Despacho</p></strong>
                                        <p>Cra. 40 #91-79.</p>
                                    </div>
                                </td>
    
                                <td>
                                    <div class="pie">
                                <strong><p>Horario del Despacho</p></strong>
                                <strong><p>Lunes, Miércoles y Jueves: </p></strong>
                                        <p>2:00 p.m. a 4:00 p.m.</p>
                                    </div>
                                </td>
    
                            </tr>
                         </div>
                                            
                    </td>
                </tr>
              
                    <tr>  <br><br><h1 style="margin: 0 auto; text-align: center;" class="horarios">Horarios de misas</h1></tr><br><br>
                
                <tr>           
                        <td>
                            <div class="programa">
                                <div class="imagen">
                                    <img src="../../../assets/images/imagen virgen.png" alt="">
                                </div> 
                                <tr>
                                <td>
                                    <div class="pie">
                                <strong><p>Domingo</p></strong>
                                        <p>10:00 a.m. , 12:00 p.m. , 6:00 p.m. , 7:00 p.m.</p>
                                    </div>
                                </td>
    
                                <td>
                                    <div class="pie">
                                   <strong><p>Lunes</p></strong>
                                        <p>7:00 p.m.</p>
                                    </div>
                                </td>
    
                                <td>
                                    <div class="pie">
                                 <strong><p>Martes</p></strong>
                                        <p>5:00 p.m. , 7:00 p.m.</p>
                                    </div>
                                </td>
    
                                <td>
                                    <div class="pie">
                                    <strong><p>Miércoles</p></strong>
                                        <p>7:00 p.m.</p>
                                    </div>
                                </td>
                            </tr>



    
                            <tr>
                                <td>
                                    <div class="pie">
                                 <strong><p>Jueves</p></strong>
                                        <p>7:00 p.m.</p>
                                    </div>
                                </td>
    
                                <td>
                                    <div class="pie">
                                <strong><p>Viernes</p></strong>
                                        <p>8:00 a.m.</p>
                                    </div>
                                </td>
    
                                <td>
                                    <div class="pie">
                                <strong><p>Sábado</p></strong>
                                        <p>6:00 p.m.</p>
                                    </div>
                                </td>
    
                            </tr>
                              </div> 
                        </td>   
                </tr>
                </table>
            
                    
            </div>
                
            </div>
        </div>
    </div>
