
<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <input type="text" class="form-control" placeholder="Búsqueda de artículos" #txtTermino (keyup)="buscarArticulo(txtTermino.value)"/>
              
            </div>
          </div>
      </div>
  </div>

  <div class="row animated fadeIn fast" *ngIf="cargar">
    <div class="col-12">
        
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando...</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Espere un momento por favor, cargando datos...</p>
        </div>

      </div>
  </div>

  <div class="row"  *ngIf="!cargar">
    <div class="col-12">
        <div class="card">
    <div class="card-body">

        <div class="row">
            <div class="col-8">
                <h4 class="card-title">Administración de Artículos. Hay un total de {{articulos.length}} artículos </h4>
                <h6 class="card-subtitle">Artículos registrados en la aplicación</h6>
          </div>

          <div>
            <button class="btn btn-info" (click)="abrirModal()" >Nuevo</button> <!--routerLink="/dashboard/crear-articulo"-->
        </div>
       </div>
       
        <div class="table-responsive">
            <table class="table table-bordered">
                
                <thead>
                    
                    <tr>
                 
                        <th class="text-center">Artículo</th>
                        <th class="text-center">Cantidad</th>
                        <th class="w100 text-nowrap">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let articulo of articulos">

                
                        <td>
                          <input type="text" class="form-control" placeholder="Nombre del artículo" [(ngModel)]="articulo.producto" />
                        </td>

                        <td>
                            <input type="number" class="form-control" placeholder="Cantidad de artículos" [(ngModel)]="articulo.cantidad"/>
                          </td>

  
                      
                        <td class="text-nowrap text-center">
                            <button class="btn btn-default" (click)="guardarCambios(articulo)">
                                 <a class="cursor" data-toggle="tooltip" data-original-title="Guardar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                Actualizar nuevo artículo
                            </button>
                           
                            <button class="btn btn-warning" (click)="eliminarArticulo(articulo)">
                                <a class="cursor" data-toggle="tooltip" data-original-title="Eliminar"> <i class="fa fa-close text-default"></i> </a>
                                Eliminar artículo    
                            </button>
                        </td>
                    </tr>
                   
                </tbody>
            </table>

        </div>

    </div>
    </div>
    </div>
  </div>


